:root {
	--frame-lght-grey: #c3d3e4;
	--frame-main-grey: #5d6b72;
	--frame-dark-grey: #2b3942;
}

body .screen-view {
	float: left;
	min-height: calc(100vh - 28px);
	width: 100%;
	font-family: "Roboto";
	font-size: 14px;

	padding-top: 56px; }

.main-logo {
	transform: scale(1.5); }

/* =============================================================================================== */
/* HEAD TITLE ==================================================================================== */
/* =============================================================================================== */
.head-title {
	color: var(--frame-dark-grey);;
    font-size: 32px;
    font-family: "Oswald";
    font-weight: bold;
    border-left: 5px solid var(--frame-main-grey);
    padding: 0 15px;
    margin: 15px 0; }

/* =============================================================================================== */
/* FOOTER ======================================================================================== */
/* =============================================================================================== */

footer {
	float: left;
	width: 100%;
    background-color: var(--frame-main-grey);
    color: white;
    font-size: 12px;
    text-align: right;
    padding: 5px 0; }